

  body{
    margin :0px;
    padding: 0px;
    font-family: 'Nanum Gothic', sans-serif;
  }

  
  .wrapper{
    display : flex;
  }

  .main-content{
    flex : 6;
    height:   100vh;
    background-color : #F5F5F5;
    overflow: auto;
  }

  .block{
      background-color: white;
      height : 500px;
      width: 100%;
      margin: 20px 0px;

    border: 1px solid #D5D5D5;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }


  .block-head {
    display : flex;
    height: 40px;
    width: auto;
    background-color: #fcfcfc;
    border-bottom: 1px solid #D5D5D5;
    padding : 20px;

  }

  .block-head h3 {
    padding : 0px;
    margin : 0px;
    height : 100%;
    display:flex;
    align-items: center;
  }

  button {
    border : none;
    border-radius: 4px;
    min-width: 100px;
    padding : 0 20px;
    cursor: pointer;
    height : 40px;
    color : white
  }

  button.grey{
    background-color: #616161;
  }

  button.grey:hover{
    background-color: #EEEEEE;
    color :#616161; 
    border : 1px solid #616161;

  }

  button.red{
    background-color: #b71c1c;
  }

  button.red:hover{
    background-color: #ffcdd2;
    color :#b71c1c; 
    border : 1px solid #b71c1c;

  }

  button.blue{
    background-color: #0D47A1;
  }

  button.blue:hover{
    background-color: #BBDEFB;
    border : 1px solid #0D47A1;
    color : #0D47A1

  }

  button.orange{
    background-color: #F57F17;
  }

  button.orange:hover{
    background-color: #FFF9C4;
    border : 1px solid #F57F17;
    color : #F57F17
  }

  button.green{
    background-color: #1B5E20;
  }

  button.green:hover{
    background-color: #C8E6C9;
    border : 1px solid #1B5E20;
    color : #1B5E20
  }



  .alert{
    padding : 30px;
    border-radius: 4px;
    margin : 20px 0;
  }
  .red-alert {
    color :#b71c1c; 
    border : 1px solid #b71c1c;
    background-color : #ffcdd2;
    
  }

  .blue-alert {
    color :#0D47A1; 
    border : 1px solid #0D47A1;
    background-color : #BBDEFB;
  }

  .green-alert {
    color :#1B5E20; 
    border : 1px solid #1B5E20;
    background-color : #C8E6C9;
  }
  .orange-alert {
    color :#F57F17; 
    border : 1px solid #F57F17;
    background-color : #FFF9C4;
  }
  .grey-alert {
    color :#616161; 
    border : 1px solid #616161;
    background-color : #EEEEEE;
  }








  

    .top-bar{
      position: fixed;
      top: 0;
      left : 300px;
      right : 0;
      height : 50px;
      background-color: #FFF;
      border-bottom: 1px solid #D5D5D5;
      display : flex;
      justify-content: flex-end
     }
     .top-bar-item{
       display:flex;
       height : 50px;
       align-items: center;
       padding : 0 20px;
       text-decoration: none;
       color : black;
     }
     .top-bar-item:hover{
      background-color: #757575;
    }

     .top-bar-item i {
      margin-left : 20px
    }


 


  .footer {
      display:none;
      position : fixed;
      bottom : 0;
      height : 60px;
      width: 100%;
      background-color: #A3CA2A;        justify-content: space-evenly;
  }

  .footer a i {
      font-size: 1.3rem;
      margin : 5px;
  }

  .footer span {
      width: 1px;
      border-right: white 1px solid;
      height : 30px;
      margin: 15px 0;
  }
  
  .content{
    padding : 20px 20px 0 20px;
  }

  .sidebar{
    flex-basis: 300px;
    height: 100vh;
    background-color: #236ea6;
    /*background-image: linear-gradient(to bottom, #69c25c, #65b84b, #62ae3a, #5fa526, #5c9b0a);*/
    /*background-image: linear-gradient(to bottom, #607d8b, #417798, #236ea6, #1f62b1, #3f51b5);*/
  }

  h1{
    width: auto;
    text-align: center;
    vertical-align: center;
    height : 40px;
    margin : 10px 20px 10px 20px;
    padding : 20px 0 25px 0px;
    color : black;
  
    border-bottom : 1px solid black;
}


  .nav-item {
      padding : 20px;
  }

  .nav-item:hover{
    background-color: #BDBDBD;
  }


  .nav a {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color : black;
    margin : 0px;
    padding : 20px 30px;
    text-decoration: none;
  }
  .nav a i {
    order: 2
  }

  .nav a:hover{
    background-color: #B0BEC5;
  }

 


@media (max-width: 500px) {
      .sidebar {
        display: none;
      }
    .top-bar{
        display : none;
    }

    .content{
        padding : 20px 20px 0 20px;
    }

    .footer {
        display: flex;
    }

    .footer a {
      max-width: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color : white;
      font-size: 0.7rem;
      margin : 0px;
      padding : 0px;
      text-decoration: none;
  }
  .footer a i {
    order: 1
  }



}